@font-face {
    font-family: googlesans;
    src: url(./GoogleSans.woff2);
}

@font-face {
    font-family: roboto;
    src: url(./Roboto.woff2);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: googlesans;
}

html,
body {
    height: 100%;
    width: 100%;
}

p {
    font-family: roboto;
}

a {
    display: inline-block;
    text-decoration: none;
    // color: #0468D7;
    font-weight: 700;
    font-size: 14px;
}

.btn {
    border: 1px solid #0468d7;
    padding: 10px 30px;
    border-radius: 20px;
    transition: 0.3s all ease;
}

.white {
    color: #0468d7;
}

.white:hover {
    color: white;
    background-color: #0468D7;
}

.blue {
    color: white;
    background-color: #0468d7;
}

.blue:hover {
    color: white;
    background-color: #2984ed;
}

.blank {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
    transition: all 0.3s ease-out;
}

.blank:hover {
    gap: 8px;
}


main {
    position: relative;
    width: 100%;
    // max-width: 1300px;
    // margin: auto;

    .view {
        // background-color: red;
        max-width: 1300px;
        margin: auto;
    }

    header.header1 {
        // display: none;
        position: fixed;
        z-index: 5;
        background-color: white;
        box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.362);
        width: 100%;

        .introduction {
            background: linear-gradient(to right, #057CFD, #803FF2);
            text-align: center;
            padding: 16px 0px;

            h1 {
                color: white;
                font-size: 14px;

                i {
                    font-weight: 100;
                }
            }
        }

        nav.navbar {
            width: 93vw;
            margin: auto;
            padding: 22px 0;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .logo {
                img {
                    width: 130px;
                }
            }

            .menuBtn {
                cursor: pointer;
                transition: all 0.3s ease;
                i {
                    font-size: 20px;
                    font-weight: 600;
                }
            }

            .menuBtn:hover {
                transform: scale(1.3);
            }

            .menuBtn:active {
                transform: scale(0.8);
            }
        }
    }


    section.slidingMenu {
        padding: 30px;
        position: fixed;
        z-index: 10;
        width: 100%;
        height: 100vh;
        background-color: #0468D7;
        display: flex;
        display: none; ////
        flex-direction: column;
        justify-content: space-between;

        .top {
            display: flex;
            flex-direction: column;
            gap: 30px;

            .cancelMenu {
                display: flex;
                justify-content: space-between;
                align-items: center;

                .logo {
                    img {
                        width: 130px;
                    }
                }

                .cancelBtn {
                    cursor: pointer;
                    transition: all 0.3s ease;

                    i {
                        color: white;
                        font-size: 20px;
                    }
                }

                .cancelBtn:hover {
                    transform: scale(1.5);
                }

                .cancelBtn:active {
                    transform: scale(0.8);
                }
            }

            .inp {
                position: relative;

                input {
                    width: 100%;
                    
                    background-color: rgba(255, 255, 255, 0.133);
                    border: none;
                    outline: none;
                    padding: 15px 50px;
                    border-radius: 30px;
                    color: rgb(255, 255, 255);
                }

                input::placeholder {
                    font-size: 14px;
                    font-weight: 700;
                    color: rgb(218, 218, 218);
                }

                i {
                    color: white;
                    top: 29%;
                    left: 25px;
                    position: absolute;
                }
            }

            .menu1 {
                height: 60vh;
                overflow: auto;
                padding: 20px;

                ul {
                    display: flex;
                    flex-direction: column;
                    // justify-content: center;
                    // align-items: center;
                    gap: 4vh;

                    li {
                        list-style: none;
                        cursor: pointer;

                        p{
                            color: white; /////////////////
                            font-size: 14px;
                            font-weight: 700;

                            i {
                                color: white;
                            }
                            i.down{
                                display: inline;
                            }
                            i.up{
                                display: none;
                            }
                        }
                    }

                    li.dropdown {
                        ul.dropdownMenu {
                            // background-color: white;
                            // box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.403);
                            border-radius: 5px;
                            padding: 20px 10px 0px 20px;

                            display: flex;
                            flex-direction: column;
                            align-items: flex-start;
                            gap: 3vh;

                            display: none;
                            li {
                                width: 14ch;

                                a {
                                    color: #ffffff; //
                                    font-weight: 400; //
                                    transition: all 0.2s ease;
                                }
                            }
                        }
                    }
                }
            }
        }

        .bottom {
            button {
                width: 100%;
                font-size: 14px;
                font-weight: 700;
                cursor: pointer;
            }

            button:hover {
                color: #0468D7;
                background-color: white;
            }
        }
    }



    header.header2 {
        display: none;
        position: fixed;
        z-index: 5;
        background-color: white;
        box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.362);
        width: 100%;

        .introduction {
            background: linear-gradient(to right, #057CFD, #803FF2);
            text-align: center;
            padding: 16px 0px;

            h1 {
                color: white;
                font-size: 14px;

                i {
                    font-weight: 100;
                }
            }
        }

        nav.navbar {
            width: 93vw;
            margin: auto;
            padding: 22px 0;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .logo {
                img {
                    width: 130px;
                }
            }

            .menu2 {
                ul {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 3vw;

                    li {
                        list-style: none;
                        cursor: pointer;

                        a {
                            color: #4a4a4a;
                            font-size: 14px;
                            font-weight: 700;
                        }

                        a.ecosystem {
                            color: #0468D7;
                        }

                        a:hover {
                            color: #0468D7;
                        }

                        i {
                            font-weight: 600;
                            color: #4a4a4a;
                        }

                        button {
                            cursor: pointer;
                        }
                    }

                    li.dropdown {
                        position: relative;

                        ul.dropdownMenu {
                            position: absolute;
                            display: flex;

                            flex-direction: column;
                            // justify-content: flex-start;
                            align-items: flex-start;
                            gap: 3vh;
                            background-color: white;
                            top: 0;
                            top: 260%;
                            top: 105%;
                            left: -40%;
                            border-radius: 5px;
                            box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.403);
                            padding: 40px 10px 40px 30px;

                            // display: none; /////// Transitions don’t work when you toggle between display: none and display: flex because display is not animatable in CSS. Thats why :-

                            opacity: 0;
                            visibility: hidden;
                            transform: translateY(10px); // small slide effect
                            transition: all 0.3s ease;


                            li {
                                width: 14ch;

                                a {
                                    color: #4a4a4a;
                                    font-weight: 400;
                                    transition: all 0.2s ease;
                                }

                                a:hover {
                                    color: #0468D7;
                                    font-weight: 700;
                                    transform: scale(1.1);
                                }
                            }
                        }

                        ul.bigMenu {
                            width: 350px; ////
                            flex-direction: row; /////
                            justify-content: flex-start; ////
                            flex-wrap: wrap; //////
                            left: -350%; ///////////
                        }
                    }

                    li.dropdown:hover .dropdownMenu {
                        opacity: 1;
                        visibility: visible;
                        transform: translateY(0);
                    }
                }
            }
        }
    }




    section.view1 {
        // width: 100%;
        padding-top: 200px;
        background: linear-gradient(to bottom left, #F5F5FA 30%, #FCDDE8);

        .flex {
            width: 90%;
            margin: auto;
            text-align: center;
            display: flex;
            flex-direction: column;
            gap: 65px;

            h1 {

                line-height: 45px;
                font-size: 45px;
            }
        }

        .text {
            width: 90%;
            max-width: 88ch; //gave it in characters to exactly clone it
            margin: auto;
            margin-top: 120px;
            padding-bottom: 100px;

            h2 {
                text-align: center;
                font-size: 34px;
                font-weight: 400;
            }
        }
    }

    section.view2 {
        padding: 70px 0px;

        .flex {
            width: 90%;
            margin: auto;
            display: flex;
            flex-direction: column;
            gap: 50px;

            .box {
                border-top: 4px solid #e8eaed;
                padding: 24px 50px 0px 0px;

                h1 {
                    font-size: 24px;
                    margin-bottom: 24px;
                }

                p {
                    font-size: 18px;
                    color: rgb(74, 74, 74);
                    margin-bottom: 70px;
                }

                img {
                    // max-width: 600px;
                    width: 100%;
                }
            }
        }
    }

    section.view-twins {
        padding: 50px 0px;

        .flex {
            width: 90%;
            margin: auto;
            display: flex;
            flex-direction: column;

            .box1 {
                margin-bottom: 40px;

                img {
                    width: 100%;
                }
            }

            .box2 {
                h2 {
                    font-size: 18px;
                    color: rgb(74, 74, 74);
                    margin-bottom: 20px;
                }

                h1 {
                    font-size: 46px;
                    margin-bottom: 32px;
                }

                p {
                    font-size: 18px;
                    line-height: 25px;
                    color: rgb(74, 74, 74);
                    margin-bottom: 24px;
                }

                .btns {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    flex-wrap: wrap;
                    gap: 20px;

                    .blank {
                        padding: 0px 24px;
                        color: black;
                    }
                }
            }
        }
    }

    section.view4,
    section.view6 {
        background: linear-gradient(to left, #F5FBFE, #FCFCE2 70%);
    }

    section.view7 {
        padding: 70px 0px;

        .blueContainer {
            position: relative;
            width: 90%;
            margin: auto;

            border-radius: 40px;
            overflow: hidden;
            background-color: #042449;

            .text {
                position: relative;
                z-index: 2;
                padding: 96px 50px;

                h1 {
                    font-size: 46px;
                    line-height: 55px;
                    color: white;
                    margin-bottom: 24px;
                }

                p {
                    font-size: 18px;
                    line-height: 25px;
                    color: white;
                    margin-bottom: 32px;
                }

                .btns {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    gap: 20px;
                    flex-wrap: wrap;

                    .btn {
                        border: none;
                        background-color: white;
                        color: #0468D7;
                    }

                    .blank {
                        color: white;
                    }
                }
            }

            .image {
                position: absolute;
                z-index: 1;
                max-width: 100%;
                height: 100%;
                top: 0;
                right: 0;

                img {
                    // max-width: 100%;
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }

    section.fakeFooter {
        padding: 70px 0px;
        width: 90%;
        margin: auto;
        display: flex;
        flex-direction: column;
        gap: 50px;

        .logo {
            img {
                width: 130px;
            }
        }

        .links {
            padding: 0px 18px;
            display: flex;
            flex-direction: column;
            gap: 50px;

            .link {
                display: flex;
                flex-direction: column;
                gap: 14px;

                h1 {
                    font-size: 16px;
                }

                a {
                    font-size: 16px;
                    font-weight: 400;
                    color: rgb(74, 74, 74);
                }

                a:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    footer {
        padding: 50px 0px;
        width: 90%;
        margin: auto;

        display: flex;
        flex-direction: column;
        gap: 40px;

        .box1 {
            display: flex;
            gap: 20px;
            justify-content: center;

            a {
                i {
                    font-size: 20px;
                    color: #4A4A4A;
                }
            }
        }

        .box2 {
            border-top: 1px solid #cdcfd2;
            padding-top: 40px;
            text-align: center;

            p {
                width: 80%;
                margin: auto;
                font-size: 14px;
                line-height: 21px;
                color: rgb(74, 74, 74);
            }

            .anchors {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 15px;
                margin-top: 20px;

                a {
                    font-size: 14px;
                    line-height: 21px;
                    font-family: roboto;
                    font-weight: 400;
                    color: rgb(74, 74, 74);
                }

                a:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}



@media (min-width:1024px) {
    main {
        header.header1 {
            display: none;
        }

        header.header2 {
            display: block;
        }
    }

    main {
        section.view1 {
            .flex {
                width: 85%; //////////////
                text-align: start; /////////
                flex-direction: row-reverse; ///////
                align-items: center; //////
                gap: 70px; //////

                h1 {
                    line-height: 70px; ///////
                    font-size: 70px; ///////
                }

                img {
                    width: 47%;
                    // width: 100%;
                }
            }
        }

        section.view2 {
            .flex {
                flex-direction: row; ////////
                gap: 25px; ///////////////

                .box {
                    h1 {
                        font-size: 28px; /////////////
                    }

                    p {
                        font-size: 20px; ///////////
                    }
                }
            }
        }

        section.view-twins {
            .flex {
                flex-direction: row; //////
                align-items: center; ////

                .box1 {
                    width: 40%; ////////

                    img {
                        max-width: 600px; //////
                        width: 100%; ///
                    }
                }

                .box2 {
                    width: 60%; ////////
                    padding: 0px 50px 0px 140px; //////

                    h2 {
                        font-size: 20px; //////
                    }

                    h1 {
                        font-size: 60px; //////
                        line-height: 60px; ///
                    }

                    p {
                        max-width: 40ch; ///////
                        font-size: 20px; //////
                        line-height: 28px; /////
                    }
                }
            }
        }

        section.view3,
        section.view5 {
            .flex {
                flex-direction: row-reverse; /////

                .box2 {
                    padding: 0px 140px 0px 50px; ///////
                }
            }

        }

        section.view7 {
            .blueContainer {
                .text {
                    padding: 75px 70px; /////////

                    h1 {
                        font-size: 60px; ///////
                        line-height: 72px; /////
                        margin-bottom: 10px; ///////
                    }

                    p {
                        font-size: 20px; /////////
                        line-height: 28px; ////////
                    }
                }
            }
        }
    }
}


@media(min-width:768px) {
    main {
        section.fakeFooter {
            flex-direction: row; /////////
            justify-content: space-between; ///////////

            .links {
                flex-direction: row; /////////
                gap: 10vw; ////////////////
            }
        }


        footer {
            .box1 {
                justify-content: flex-start; ////////////
            }

            .box2 {
                text-align: start; ///////
                display: flex; ///////////
                justify-content: space-between; /////
                align-items: start; ////////
                gap: 50px; ///////////////

                p {
                    width: 100%; /////////
                }

                .anchors {
                    align-items: center; ///////
                    gap: 10px; /////////
                    margin-top: 0px; /////////
                }
            }
        }
    }
}