@font-face {
  font-family: googlesans;
  src: url(./GoogleSans.woff2);
}
@font-face {
  font-family: roboto;
  src: url(./Roboto.woff2);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: googlesans;
}

html,
body {
  height: 100%;
  width: 100%;
}

p {
  font-family: roboto;
}

a {
  display: inline-block;
  text-decoration: none;
  font-weight: 700;
  font-size: 14px;
}

.btn {
  border: 1px solid #0468d7;
  padding: 10px 30px;
  border-radius: 20px;
  transition: 0.3s all ease;
}

.white {
  color: #0468d7;
}

.white:hover {
  color: white;
  background-color: #0468D7;
}

.blue {
  color: white;
  background-color: #0468d7;
}

.blue:hover {
  color: white;
  background-color: #2984ed;
}

main {
  position: absolute;
  width: 100%;
}
main .view {
  max-width: 1300px;
  margin: auto;
}
main header {
  position: fixed;
  z-index: 5;
  background-color: white;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.362);
  width: 100%;
}
main header #introduction {
  background: linear-gradient(to right, #057CFD, #803FF2);
  text-align: center;
  padding: 16px 0px;
}
main header #introduction h1 {
  color: white;
  font-size: 14px;
}
main header #introduction h1 i {
  font-weight: 100;
}
main header #head {
  width: 93vw;
  margin: auto;
  padding: 22px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main header #head .logo img {
  width: 130px;
}
main header #head .menu i {
  font-size: 20px;
  font-weight: 600;
}
main section.view1 {
  padding-top: 200px;
  background: linear-gradient(to bottom left, #F5F5FA 30%, #FCDDE8);
}
main section.view1 .flex {
  width: 90%;
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 65px;
}
main section.view1 .flex h1 {
  line-height: 45px;
  font-size: 45px;
}
main section.view1 .text {
  width: 90%;
  max-width: 88ch;
  margin: auto;
  margin-top: 120px;
  padding-bottom: 100px;
}
main section.view1 .text h2 {
  text-align: center;
  font-size: 34px;
  font-weight: 400;
}
main section.view2 {
  padding: 70px 0px;
}
main section.view2 .flex {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
main section.view2 .flex .box {
  border-top: 4px solid #e8eaed;
  padding: 24px 50px 0px 0px;
}
main section.view2 .flex .box h1 {
  font-size: 24px;
  margin-bottom: 24px;
}
main section.view2 .flex .box p {
  font-size: 18px;
  color: rgb(74, 74, 74);
  margin-bottom: 70px;
}
main section.view2 .flex .box img {
  width: 100%;
}
main section.view-twins {
  padding: 50px 0px;
}
main section.view-twins .flex {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
}
main section.view-twins .flex .box1 {
  margin-bottom: 40px;
}
main section.view-twins .flex .box1 img {
  width: 100%;
}
main section.view-twins .flex .box2 h2 {
  font-size: 18px;
  color: rgb(74, 74, 74);
  margin-bottom: 20px;
}
main section.view-twins .flex .box2 h1 {
  font-size: 46px;
  margin-bottom: 32px;
}
main section.view-twins .flex .box2 p {
  font-size: 18px;
  line-height: 25px;
  color: rgb(74, 74, 74);
  margin-bottom: 24px;
}
main section.view-twins .flex .box2 .btns {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}
main section.view-twins .flex .box2 .btns .blank {
  padding: 0px 24px;
  color: black;
}
main section.view4,
main section.view6 {
  background: linear-gradient(to left, #F5FBFE, #FCFCE2 70%);
}
main section.view7 {
  padding: 70px 0px;
}
main section.view7 .blueContainer {
  position: relative;
  width: 90%;
  margin: auto;
  border-radius: 40px;
  overflow: hidden;
  background-color: #042449;
}
main section.view7 .blueContainer .text {
  position: relative;
  z-index: 2;
  padding: 96px 50px;
}
main section.view7 .blueContainer .text h1 {
  font-size: 46px;
  line-height: 55px;
  color: white;
  margin-bottom: 24px;
}
main section.view7 .blueContainer .text p {
  font-size: 18px;
  line-height: 25px;
  color: white;
  margin-bottom: 32px;
}
main section.view7 .blueContainer .text .btns {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}
main section.view7 .blueContainer .text .btns .btn {
  border: none;
  background-color: white;
  color: #0468D7;
}
main section.view7 .blueContainer .text .btns .blank {
  color: white;
}
main section.view7 .blueContainer .image {
  position: absolute;
  z-index: 1;
  max-width: 100%;
  height: 100%;
  top: 0;
  right: 0;
}
main section.view7 .blueContainer .image img {
  width: 100%;
  height: 100%;
}
main section.fakeFooter {
  padding: 70px 0px;
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
main section.fakeFooter .logo img {
  width: 130px;
}
main section.fakeFooter .links {
  padding: 0px 18px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
main section.fakeFooter .links .link {
  display: flex;
  flex-direction: column;
  gap: 14px;
}
main section.fakeFooter .links .link h1 {
  font-size: 16px;
}
main section.fakeFooter .links .link a {
  font-size: 16px;
  font-weight: 400;
  color: rgb(74, 74, 74);
}

@media (min-width: 1024px) {
  main section.view1 .flex {
    width: 85%;
    text-align: start;
    flex-direction: row-reverse;
    align-items: center;
    gap: 70px;
  }
  main section.view1 .flex h1 {
    line-height: 70px;
    font-size: 70px;
  }
  main section.view1 .flex img {
    width: 47%;
  }
  main section.view2 .flex {
    flex-direction: row;
    gap: 25px;
  }
  main section.view2 .flex .box h1 {
    font-size: 28px;
  }
  main section.view2 .flex .box p {
    font-size: 20px;
  }
  main section.view-twins .flex {
    flex-direction: row;
    align-items: center;
  }
  main section.view-twins .flex .box1 {
    width: 40%;
  }
  main section.view-twins .flex .box1 img {
    max-width: 600px;
    width: 100%;
  }
  main section.view-twins .flex .box2 {
    width: 60%;
    padding: 0px 50px 0px 140px;
  }
  main section.view-twins .flex .box2 h2 {
    font-size: 20px;
  }
  main section.view-twins .flex .box2 h1 {
    font-size: 60px;
    line-height: 60px;
  }
  main section.view-twins .flex .box2 p {
    max-width: 40ch;
    font-size: 20px;
    line-height: 28px;
  }
  main section.view3 .flex,
  main section.view5 .flex {
    flex-direction: row-reverse;
  }
  main section.view3 .flex .box2,
  main section.view5 .flex .box2 {
    padding: 0px 140px 0px 50px;
  }
  main section.view7 .blueContainer .text {
    padding: 75px 70px;
  }
  main section.view7 .blueContainer .text h1 {
    font-size: 60px;
    line-height: 72px;
    margin-bottom: 10px;
  }
  main section.view7 .blueContainer .text p {
    font-size: 20px;
    line-height: 28px;
  }
}
@media (min-width: 768px) {
  main section.fakeFooter {
    flex-direction: row;
    justify-content: space-between;
  }
  main section.fakeFooter .links {
    flex-direction: row;
    gap: 10vw;
  }
}/*# sourceMappingURL=style.css.map */